[General]
job_type = local # local, slurm, sge, pbs, lsf
job_prefix = nextdb
task = all # all, correct, assemble
rewrite = yes # yes/no
deltmp = yes 
parallel_jobs = 6 # number of tasks used to run in parallel
input_type = raw # raw, corrected
read_type = ont # clr, ont, hifi
input_fofn = /home/tilapia/xuluohao/dabao/asm/inputdb.fofn
workdir = /home/tilapia/xuluohao/dabao/asm/01_db40k

[correct_option]
read_cutoff = 40k
genome_size = 1.2g # estimated genome size
sort_options = -m 20g -t 15
minimap2_options_raw = -t 8
pa_correction = 3 # number of corrected tasks used to run in parallel, each corrected task requires ~TOTAL_INPUT_BASES/4 bytes of memory usage.
correction_options = -p 15

[assemble_option]
random_round = 30
minimap2_options_cns = -t 8 
nextgraph_options = -a 1

# see https://nextdenovo.readthedocs.io/en/latest/OPTION.html for a detailed introduction about all the parameters
